@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .daily-life-container {
    &__splash {
      &-image {
        height: 100%;
      }
    }
    &__content {
      padding: 0 $MEDIUM $LARGE;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);

      margin-top: $MEDIUM;
    }
    p {
      margin: $SMALL 0 $MEDIUM 0;
    }
    &__topic {
      margin-top: $MEDIUM;
      &-title {
        @include font-type($MAIN_FONT, $MIDLARGE, bold);
      }
      &-content {
        margin-bottom: $SMALL;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .daily-life-container {
    &__splash {
      &-image {
        @include headerImage();
      }
    }
    &__content {
      padding: 0 15% $XLARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .daily-life-container {
    &__content {
      padding: 0 25% $XLARGE;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
