@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .application-submission-form {
    display: grid;
    grid-gap: $MEDIUM;
    grid-template-columns: 100%;
    width: 100%;
    padding: $SMALL;
    outline: 1px solid $GRAY_300;
    &__file-upload {
      span {
        display: inline-block;
        margin-bottom: $SMALL;
      }
    }
    &__input {
      font-size: $MEDIUM;
    }
    &__message {
      @include textarea();
    }
    &__button {
      @include button();
    }
    &__email {
      @include font-type($MAIN_FONT, $MIDLARGE);

      padding: $SMALL 0 $MEDIUM;
      text-align: center;
      &--error {
        border-bottom: 1px solid $BORDER_GRAY;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
