@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .footer-link-group {
    &__title {
      @include font-type($mainFont, $midlarge, bold);

      color: $mainColor;
    }
    &__links {
      display: flex;
      flex-flow: column;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .footer-link-group {
    margin-right: $small;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
