@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .footer-link-group {
    &__title {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      color: $MAIN_COLOR;
    }
    &__links {
      display: flex;
      flex-flow: column;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .footer-link-group {
    margin-right: $SMALL;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
