@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .activities-container {
    padding: $MEDIUM;
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);
    }
    p {
      margin: $SMALL 0;
    }
    &__content {
      &-images {
      }
      &-image {
        margin-bottom: $XSMALL;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
