@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .activities-container {
    padding: $MEDIUM $MEDIUM $LARGE;
    &__header {
      &-title {
        @include font-type($MAIN_FONT, $LARGE, bold);
      }
    }
    &__images {
      margin: $MEDIUM 0;
    }
    &__image {
      margin-bottom: $MEDIUM;
    }
    hr {
      margin: $SMALL 0;
    }
    &__sec-title {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      margin: $SMALL 0;
    }
    &__list {
      margin-left: $MEDIUM;
      &-item {
        @include font-type($MAIN_FONT, $MEDIUM);

        margin-bottom: $SMALL;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .activities-container {
    &__header,
    &__activities {
      padding: 0 15%;
    }
    &__images {
      display: grid;
      grid-column-gap: $SMALL;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      margin: $LARGE 0;
      padding: 0 $XXLARGE;
    }
    &__image {
      max-height: 350px;
      margin-bottom: 0;
    }
    hr {
      margin: $MEDIUM 5%;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
