@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .activities-container {
    padding: $MEDIUM;
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);
    }
    p {
      margin: $SMALL 0;
    }
    &__content {
      &-image {
        margin-bottom: $XSMALL;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .activities-container {
    padding: $MEDIUM 15% $XLARGE;
    &__header-image {
      width: 100%;
      height: 25vh;
    }
    &__content {
      &-images {
        display: grid;
        grid-column-gap: $SMALL;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin-top: $LARGE;
      }
      &-image {
        width: 100%;
        max-height: 350px;
      }
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .activities-container {
    &__section {
      &-image {
        max-width: 450px;
      }
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
