{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": ["react-app", "prettier"],
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80
      }
    ]
  },
  "plugins": ["prettier"],
  "overrides": [
    {
      "files": ["packages/**/*.{js}"],
      "excludedFiles": ["*.story.js", "*.unit.spec.js"],
      "rules": {
        "import/no-extraneous-dependencies": "error"
      }
    }
  ]
}
