@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .our-mission-container {
    padding: 0 $MEDIUM;
    &__splash-image {
      width: 100%;
      min-height: 50vh;
      max-height: 450px;
      margin-top: $SMALL;
      background-image: url($IMAGES_CDN+"/our-mission-container--mobile.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &__content {
      padding: 0 $SMALL $LARGE;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);

      margin-top: $MEDIUM;
    }
    &__sec-title {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      margin-top: $MEDIUM;
    }
    p {
      margin: $SMALL 0 $LARGE 0;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .our-mission-container {
    &__splash-image {
      margin-top: $LARGE;
      background-image: url($IMAGES_CDN+"/our-mission-container--desktop.jpg");
      background-position: top;
    }
    &__content {
      padding: 0 $XLARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .our-mission-container {
    display: flex;
    justify-content: center;
    padding: $MEDIUM $XLARGE $XLARGE;
    &__splash-image {
      max-width: 300px;
      margin-top: 0;
      background-image: url($IMAGES_CDN+"/our-mission-container--desktop.jpg");
    }
    &__content {
      max-width: 800px;
      margin-left: $XLARGE;
      padding: 0;
    }
    &__title {
      margin-top: 0;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
