@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .ourMissionContainer {
    padding: 0 $MEDIUM;
    &__headerImage {
      width: 100%;
      min-height: 45vh;
      max-height: 350px;
      margin-top: $SMALL;
    }
    &__content {
      padding: 0 $SMALL $LARGE;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);

      margin-top: $MEDIUM;
    }
    &__secTitle {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      margin-top: $MEDIUM;
    }
    p {
      margin: $SMALL 0 $MEDIUM 0;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .ourMissionContainer {
    &__headerImage {
      margin-top: $LARGE;
    }
    &__content {
      padding: 0 $XLARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .ourMissionContainer {
    display: flex;
    justify-content: center;
    padding: $XLARGE $XLARGE $XLARGE;
    &__headerImage {
      max-width: 300px;
      max-height: 450px;
      margin-top: 0;
    }
    &__content {
      max-width: 800px;
      margin-left: $XLARGE;
      padding: 0;
    }
    &__title {
      margin-top: 0;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
