@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .contact-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: $LARGE $SMALL;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    // background-color: #9fa4c4;
    // background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
    &__form {
      display: grid;
      width: fit-content;
      height: fit-content;
      margin: 0 auto $LARGE;
      padding: $MEDIUM;
      background: white;
      box-shadow: $BOX_SHADOW;
      opacity: 0.95;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE);

      margin-bottom: $SMALL;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .contact-container {
    height: calc(100vh - #{$navMenuHeight});
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
