@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .contact-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: $LARGE $SMALL;
    background-image: url($IMAGES_CDN+"/contact_container--mobile.jpg");
    background-position: center;
    background-size: cover;
    &__form {
      display: grid;
      width: fit-content;
      height: fit-content;
      margin: 0 auto $LARGE;
      padding: $MEDIUM;
      background: white;
      box-shadow: $BOX_SHADOW;
      opacity: 0.95;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE);

      margin-bottom: $SMALL;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .contact-container {
    height: calc(100vh - #{$navMenuHeight});
    background-image: url($IMAGES_CDN+"/contact_container--desktop.jpg");
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
