@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .assisted-living-container {
    &__splash {
      &-image {
        height: 100%;
      }
    }
    &__content {
      padding: 0 $MEDIUM $LARGE;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);

      margin-top: $MEDIUM;
    }
    &__sec-title {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      margin-top: $MEDIUM;
    }
    p {
      margin: $SMALL 0 $MEDIUM 0;
    }
    &__list-title {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      margin: $SMALL 0;
    }
    &__list {
      margin-left: $MEDIUM;
      &-item {
        @include font-type($MAIN_FONT, $MEDIUM, bold);

        margin-bottom: $SMALL;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .assisted-living-container {
    &__splash {
      &-image {
        @include headerImage();
      }
    }
    &__content {
      padding: 0 15% $XLARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .assisted-living-container {
    &__content {
      padding: 0 25% $XLARGE;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
