@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .image-submission-container {
    display: grid;
    padding: $MEDIUM $MEDIUM $XLARGE;
    p {
      @include font-type($MAIN_FONT, $MEDIUM);

      margin-bottom: $SMALL;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .image-submission-container {
    padding-right: 20%;
    padding-left: 20%;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .image-submission-container {
    padding-right: 35%;
    padding-left: 35%;
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
