@import "../../styles/variables.scss";

//Small screens - MOBILE
@media only screen {
  .logo {
    height: $navMenuHeight;
    &__image {
      padding: $xsmall;
      max-height: 100%;
      object-fit: scale-down;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
