@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .accordion {
    position: relative;
    transform: translateZ(0);
    transition: all 0.2s;
    &__content {
      // position: absolute;
      // display: none;
      max-height: 0;
      overflow: hidden;
      background-color: white;
      &--toggled {
        display: block;
        max-height: 500px;
        padding: $small;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
