@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .modal {
    display: grid;
    justify-items: center;
    width: 100%;
    max-height: 100vh;
    margin: $SMALL;
    overflow-y: auto;
    background-color: white;
    &__overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: rgba($GRAY_400, 0.75);
    }
    &__title {
      @include font-type($MAIN_FONT, $MIDLARGE);

      margin: $MEDIUM 0;
      text-align: center;
    }
    &__close {
      display: grid;
      justify-content: center;
      width: 90%;
      margin-top: $SMALL;
      padding: $MEDIUM 0;
      border-top: 1px solid $GRAY_300;
      &-button {
        @include button();
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .modal {
    width: auto;
    height: fit-content;
    margin: $MEDIUM;
    &__title {
      margin: $large $MEDIUM $SMALL;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
