@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .whyAssistedLivingContainer {
    &__splash {
      &Image {
        height: 100%;
      }
    }
    &__content {
      padding: 0 $MEDIUM $LARGE;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);

      margin-top: $MEDIUM;
    }
    &__secTitle {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      margin-top: $MEDIUM;
    }
    p {
      margin: $SMALL 0 $MEDIUM 0;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .whyAssistedLivingContainer {
    &__splash {
      &Image {
        @include headerImage(0 15%);
      }
    }
    &__content {
      padding: 0 15% $XLARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .whyAssistedLivingContainer {
    &__content {
      padding: 0 25% $XLARGE;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
