@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .applyContainer {
    display: grid;
    grid-gap: $MEDIUM;
    padding: $MEDIUM $MEDIUM $XLARGE;
    &__form {
      &Title {
        @include font-type($MAIN_FONT, $MIDLARGE, bold);

        margin: $SMALL 0;
        text-align: center;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .applyContainer {
    padding-right: 20%;
    padding-left: 20%;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .applyContainer {
    padding-right: 30%;
    padding-left: 30%;
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
