@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    height: $navMenuHeight;
    max-height: $navMenuHeight;
    padding: 0 $small;
    background-color: white;
    &__logo {
      margin: 0 auto;
    }
    &__toggle {
      position: absolute;
    }
    &__links {
      position: fixed;
      top: $navMenuHeight;
      left: -$navMenuWidth;
      width: $navMenuWidth;
      height: 100%;
      padding-top: $large;
      background-color: $darkGrey;
      transition: left 0.3s ease;
      &.navbar__links--open {
        left: 0;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
  .navbar {
    justify-content: space-between;
    &__toggle {
      display: none;
    }
    &__logo {
      margin: 0;
    }
    &__links {
      position: inherit;
      top: inherit;
      right: inherit;
      display: flex;
      align-items: center;
      width: inherit;
      height: inherit;
      padding: 0;
      background-color: inherit;
      transition: none;
      &-close {
        display: none;
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
