@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: $navMenuHeight;
    padding: 0 $SMALL;
    background-color: white;
    &__toggle {
      position: absolute;
      top: 50%;
      z-index: 9001;
      transform: translateY(-50%);
    }
    &__logo {
      position: absolute;
      left: 50%;
      z-index: 9001;
      transform: translateX(-50%);
    }
    &__links--mobile {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      padding-top: $navMenuHeight;
      overflow: auto;
      background-color: white;
      transition: transform 0.3s ease;
      .navbar__links-content {
        height: 100%;
        overflow-y: auto;
        border-top: solid 1px $MAIN_COLOR;
      }
      &.navbar__links--open {
        z-index: 9000;
        transform: translateX(100%);
      }
    }
    &__links--desktop {
      display: none;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
  .navbar {
    display: flex;
    align-items: center;
    &__toggle {
      display: none;
    }
    &__logo {
      position: static;
      left: auto;
      transform: none;
    }
    &__links--mobile {
      display: none;
    }
    &__links--desktop {
      display: block;
      margin-left: $MEDIUM;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
