@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .footer {
    @include font-type();

    padding: $small;
    background-color: $darkGrey;
    &__links {
      display: grid;
      justify-content: space-evenly;
      color: white;
    }
    &__legal {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      .footer__copyright {
        color: white;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
