@import "../../styles/variables";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .footer {
    padding: $SMALL;
    background-color: $GRAY_100;
    border-top: 1px solid $GRAY_200;
    &__links {
      display: grid;
      grid-row-gap: $SMALL;
      margin-bottom: $MEDIUM;
      text-align: center;
    }
    &__legal {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-top: $SMALL;
      text-align: center;
      .footer__copyright {
        color: $MAIN_COLOR;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .footer {
    padding-left: $LARGE;
    &__links {
      grid-template-columns: repeat(4, 1fr);
      text-align: left;
    }
  }
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
