@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .image-submission-form {
    display: grid;
    grid-gap: $MEDIUM;
    margin-top: $LARGE;
    &__file-upload {
      span {
        display: inline-block;
        margin-bottom: $SMALL;
      }
    }
    &__input {
      font-size: $MEDIUM;
    }
    &__message {
      @include textarea();
    }
    &__button {
      @include button();
    }
    &__email-sent {
      @include font-type($MAIN_FONT, $MIDLARGE);

      max-width: 30vw;
      margin: 0 auto;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
