@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .imageSubmissionForm {
    display: grid;
    grid-gap: $MEDIUM;
    margin-top: $LARGE;
    &__fileUpload {
      span {
        display: inline-block;
        margin-top: $SMALL;
      }
    }
    &__input {
      font-size: $MEDIUM;
    }
    &__message {
      @include textarea();
    }
    &__button {
      @include button();
    }
    &__emailSent {
      @include font-type($MAIN_FONT, $MIDLARGE);

      text-align: center;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
