@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .faqs-container {
    &__splash {
      &-image {
        height: 100%;
      }
    }
    &__content {
      padding: 0 $MEDIUM $LARGE;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE, bold);

      margin-top: $MEDIUM;
    }
    p {
      margin: $SMALL 0 $MEDIUM 0;
    }
    hr {
      margin-bottom: $SMALL;
    }
    &__questions-list {
      padding-right: $XSMALL;
      dt {
        @include font-type($MAIN_FONT, $MEDIUM, bold);

        margin: $SMALL 0 $XSMALL;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .faqs-container {
    &__splash {
      &-image {
        @include headerImage(0 15%);
      }
    }
    &__content {
      padding: 0 15% $XLARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .faqs-container {
    &__content {
      padding: 0 25% $XLARGE;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
