@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .team-member {
    display: flex;
    flex-flow: column;
    &__image {
      width: 100%;
      margin-bottom: $SMALL;
    }
    &__content {
      margin-bottom: $SMALL;
      text-align: center;
      &-name {
        @include font-type($MAIN_FONT, $MIDLARGE, bold);
      }
      &-title {
        @include font-type($MAIN_FONT, $MEDIUM, 200);
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .team-member {
    flex-flow: row;
    margin-bottom: $MIDLARGE;
    &__image {
      width: 30rem;
      margin-right: $LARGE;
      margin-bottom: 0;
      object-fit: scale-down;
    }
    &__content {
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: left;
      &-name {
        @include font-type($MAIN_FONT, $MIDLARGE, bold);

        margin-right: $SMALL;
      }
      &-title {
        @include font-type($MAIN_FONT, $MEDIUM);
      }
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
